Source: qt-style-qsvgstyle-qt5
Section: universe/x11
Priority: optional
Maintainer: Saïd LANKRI <said.lankri@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/DexterMagnific/QSvgStyle
Bugs: https://github.com/DexterMagnific/QSvgStyle/issues

Package: qt-style-qsvgstyle-qt5
Architecture: all
Depends: ${misc:Depends}
Description: SVG based Qt5 theme engine and tools.
 This package install the QSvgStyle engine, the theme builder and the theme manager.
 .
 QSvgStyle is a Qt5 style engine that tunes the appearance of Qt applications using SVG themes.
 It comes with a ThemeBuilder, a ThemeManager and a built-in SVG cleaner.
